@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* .dark-mode {
    background-color: #121212;
    color: #000000;
} */
/* Dark mode styles */

body.dark-mode {
    background-color: #212121;
    color: #ffffff;
  }
  
  .dark-mode .card {
    background-color: #333333;
  }
  
  .dark-mode .list-group-item {
    background-color: #444444;
    color: #ffffff;
  }
  
  .dark-mode .btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .dark-mode .btn-danger {
    background-color: #d9534f;
    border-color: #d953 4f;
  }
  

.title {
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: rainbowShine 8s linear infinite;
}

@keyframes rainbowShine {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
}

.completed-task {
    text-decoration: line-through;
    color: gray;
}

.mark-complete {
    color: white;
}